.analysis-container {
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  max-width: 400px;
  min-width: 400px;
  margin: auto;
  /* position: relative; */
  right: 0;
  transition: border 0.5ms ease-in;
}
.analysis-container:hover{
  border: 1px solid salmon;
}
.analysis-title {
  font-size: 1.25rem; 
  font-weight: 600;
  margin-bottom: 16px;
}

.analysis-total {
  text-align: center;
  margin-top: 8px;
  color: #6b7280;
  font-size: 0.875rem; 
}

.analysis-forecast {
  font-weight: 700;
}

@media screen and (max-width:780px) {
    .analysis-container{
        width: 100%;
        position: relative;
    }
}
@media screen and (max-width:480px) {
    .analysis-container{
        max-width: 100%;
        min-width: 100%;
        position: relative;
    }
}